    <!-- <div>
        <h1>WEATHER : </h1>

        <form action="/users/dashboard" method="POST">
            <input type="text" name="city_name" placeholder="city">
            <button>add city</button>
        </form>

        <h2> <%=weather.city%> :
            <span> <%=weather.temp%> &deg </span>
            <figure class='image is-50x50'>
                <img src='http://openweathermap.org/img/w/<%=weather.icon %>.png' alt='image'>
            </figure>
        </h2>
        <div>
            <%=weather.descr%>
        </div>
    </div> -->